body {
    background-color: #f7ffef;
    color: #546A76;
    font-family: 'Kanit', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: 'Caprasimo', cursive;
    font-size: 48px;
}

.btn {
    color: #1A6A8E;
    background-color: #d7f2ba;
    border-color: #1A6A8E;
    width: 48%;
}

.btn:hover {
    color: #d7f2ba;
    background-color: #1A6A8E;
    border-color: #d7f2ba;
}